/* font-family: 'PT Sans', sans-serif;
font-family: 'Rubik', sans-serif; */

* {
    margin: 0;
    box-sizing: border-box !important;
}

body {
    font-family: 'PT Sans', sans-serif !important;
    background-color: rgb(219, 219, 219) !important;

}

#content {
    display: flex;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.card-img-top {
    margin: 12px !important;
    width: auto !important;
    width: 100%;
    object-fit: contain;

}

.startScreen {
    text-align: center;
    margin: 10px;
}

.quiz-card {
    width: 30rem;
}

.card {
    background-color: rgba(65, 65, 65, 0.2) !important;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 12px;
}

.quiz-answer:hover {
    cursor: pointer;
    background-color: rgba(65, 65, 65, 0.4) !important;
}

h1 {
    font-size: 35px !important;
}

h5 {
    font-family: 'PT Sans', sans-serif !important;
    font-weight: bold !important;
}

.card-body {
    text-align: center;
}

.card-body p {
    font-size: 20px;
    margin: 0;
}

.progress {
    margin: 0 5px 0 5px;
}

.button-row {
    margin-top: 10px;
}


#nav {
    position: relative;
    background-color: #26355C;
    height: 100vh;
    width: 200px;
    left: 0;
    font-family: 'Rubik', sans-serif !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navi {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav li a {
    display: inline-block !important;
    text-decoration: none !important;
    color: #A5B0CB !important;
    font-size: 26px !important;
    margin: 0 55px 40px 55px !important;
    cursor: pointer;
}

#nav li a,
#topMenu li a:hover {
    display: inline-block !important;
    color: white !important;
}

ul {
    margin: 0 !important;
    padding: 0 !important;
}

#nav .profile-img {
    position: absolute;
    top: 35px;
    cursor: pointer;
}

#topMenu {
    display: none;
}

@media (max-width: 720px) {

    #content {
        flex-direction: column;
        align-items: center;
    }

    #nav {
        display: none;
    }

    #topMenu {
        background-color: #26355C;
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        height: 70px;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    #topMenu ul li {
        display: inline-block;
    }

    #topMenu .profile-img {
        height: 50px;
    }

    #topMenu ul li a {
        display: inline-block !important;
        text-decoration: none !important;
        color: #A5B0CB !important;
        font-size: 16px !important;
        padding-left: 8px !important;
    }

    .card-container {
        width: 90%;
        margin: 20px 0 20px 0;
    }

    h1 {
        font-size: 30px !important;
    }

    .quiz-card {
        height: 100% !important;
    }
}

@media (max-width: 370px) {
    .card-container {
        width: 90%;
        /* position: relative !important; */
    }

    .quiz-card {
        height: 100% !important;
    }

    .card-body {
        padding: 6px !important;
    }

    .startScreen p {
        padding: 0 5px 0 5px !important;
    }

    h1 {
        font-size: 22px !important;
        font-weight: bold !important;
    }

    h5 {
        font-size: 16px !important;
    }
}